! all incoming data are interpret as UTF-8 encoded
xterm*locale: true

! color scheme
xterm*termName: xterm-256color

! terminal window size
xterm*geometry: 80x40

! font name and size
xterm*faceName: DejaVu Sans Mono:style=Book:antialias=true
xterm*faceSize: 12

! every shell is a login shell
xterm*loginShell: true

! colors
xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00

! use system clipboard
xterm*selectToClipboard: true

! keybinds remap:
! F11:           toggle fullscreen because default Alt+Enter is used by dwm;
! Ctrl+Shift+C:  copy selected text to clipboard;
! Ctrl+Shift+V:  paste text from clipboard;
! Alt+Up:        scroll back of one line;
! Alt+Down:      scroll forward of one line.
xterm*VT100.Translations: #override \n\
    <Key>F11: fullscreen() \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Alt <Key>Up: scroll-back(1,line) \n\
    Alt <Key>Down: scroll-forw(1,line)

! fonts. These settings should match those inside .fonts.conf to avoid troubles
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.dpi: 96
